@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

:root {
  --primary: #6610f2;
  --secondary: #ec9d5f;
  --white: #ffffff;
  --light: #f9f9ff;
  --dark: #343a40;
}

#active {
  color: var(--primary);
}

.container {
  width: 85%;
  margin: 0 auto;
}

.l-topbar {
  background: var(--secondary);
  width: 100%;
  font-size: .9rem;
}

.topbar-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.topbar-contacts, .topbar-contacts li, a, .header-nav ul, .header-nav-container ul li {
  display: inline-block;
}

.topbar-contacts li a {
  margin-right: 2rem;
  color: var(--white);
  padding: .7rem 0;
}

.topbar-button {
  padding: .7rem .1rem;
  background-color: var(--primary);
  display: inline-block;
  text-align: center;
  color: var(--white);
}

.l-header {
  width: 100%;
  background-color: var(--white);
  padding: 1rem 0;
  transition: all .5s ease-in;
}

.header-logo {
  min-width: 150px;
  max-width: 200px;
  flex-grow: 5;
  flex-shrink: 1;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

.header-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: all .5s ease-in;
}

.header-nav {
  flex-grow: 5;
  display: grid;
  position: relative;
}

.burger {
  display: none;
}

.header-nav-container ul li a {
  padding: 1rem 1rem;
  font-size: .9rem;
  color: var(--dark);
  font-weight: 500;
}

.l-banner {
  background: var(--primary);
}

.banner-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 8rem;
  padding: 5rem 0;
  height: 110vh;
  justify-content: center;
  align-items: center;
}

.l-banner img {
  max-width: 100%;
  height: auto;
}

.banner-text, .banner-text a {
  color: var(--white);
}

.banner-text h1 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.banner-text p {
  opacity: .7;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.banner-text a {
  font-size: .9rem;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--secondary);
  border-radius: 5px;
  transition: all .25s ease-in;
}

.banner-text a:hover {
  color: var(--primary);
}

.l-features {
  padding: 10rem 0;
}

.features-text {
  text-align: center;
  width: 50%;
  margin: 0 auto 5rem auto;
}

.features-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.features-text p {
  opacity: .7;
  font-size: 1rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.features-box {
  border: thin solid #eee;
  border-radius: 10px;
  padding: 3rem 2rem;
  transition: all .25s ease;
}

.features-box:hover {
  -webkit-box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
  -moz-box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
  box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
}

.features-box h3 {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.features-box p {
  line-height: 1.2;
  opacity: .7;
  font-weight: 200;
  font-size: 1rem;
}

.l-pricing {
  background-color: #fafcff;
  padding: 5rem 0;
}

.pricing-text {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
}

.pricing-text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.pricing-text p {
  opacity: .7;
  font-size: 1rem;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  margin: 5rem 0;
  -webkit-box-shadow: 0px 0px 13px -4px rgba(46,46,46,1);
  -moz-box-shadow: 0px 0px 13px -4px rgba(46,46,46,1);
  box-shadow: 0px 0px 13px -4px rgba(46,46,46,1);
  background-color: var(--white);
}

.pricing-box {
  padding: 2em 0 2em 4em;
  position: relative;
}

.pricing-box:nth-last-child(2):before {
  content: "";
    width: 1px;
    background: #d2d2d2;
    height: 336px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.pricing-container:hover {
  border-top: 2px solid var(--primary);
  margin-top: -2px;
}

.pricing-box h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.pricing-box h3 {
  font-weight: lighter;
  font-size: 1rem;
  opacity: .7;
  margin-bottom: 1.5rem;
}

.pricing-box h4 {
  font-size: 1.9rem;
}

.pricing-box span {
  display: inline-block;
  font-size: 1rem;
  opacity: .7;
}

.pricing-box ul li {
  opacity: .7;
}

.pricing-box ul li, .pricing-box h2, .pricing-box h4 {
  margin-top: 2em;
}

.pricing-container a {
   opacity: 0;
   display: inline-block;
   text-align: center;
   width: 100%;
   padding: 1em 0;
   background-color: var(--primary);
   color: var(--light);
   transition: all .25s ease;
}

.pricing-container:hover a {
  opacity: 1;
}

.pricing-box:hover h4 {
  color: var(--primary);
}

.l-consultation {
  background-color: var(--secondary);
  padding: 10rem 0;
  text-align: center;
  color: var(--light);
}

.consultation-text {
  width: 70%;
  margin: 0 auto;
}

.consultation-text h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.consultation-text p {
  margin-bottom: 1.5rem;
  opacity: .7;
  font-size: 1rem;
}

.consultation-text a {
  display: inline-block;
  background-color: var(--light);
  color: var(--dark);
  padding: 1rem 2rem;
  font-size: .9rem;
  transition: all .25s ease;
}

.consultation-text a:hover {
  background-color: var(--primary);
  color: var(--light);
}

.l-testimonials {
  padding: 10rem 0;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.testimonials-text {
  padding: 2rem;
}

.testimonials-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.testimonials-box {
  padding: 4rem 2rem;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all .25s ease;
}

.testimonials-box:hover {
  -webkit-box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
  -moz-box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
  box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
}

.testimonials-box h3 {
  margin-bottom: 1rem;
}

.testimonials-box h4 {
  margin-bottom: 2rem;
}

.testimonials-box h4, .testimonials-box p {
  font-size: 1rem;
  opacity: .7;
}

.l-services::before {
  content: "";
    background: url(res/map-bg.png) no-repeat scroll center center;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.l-services {
  background-color: #6247ea;
  position: relative;
  padding: 7rem 0;
  overflow: hidden;
  color: var(--light);
}

.services-text {
  text-align: center;
  width: 50%;
  margin: 0 auto 2rem auto;
}

.services-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.services-text p {
  opacity: .7;
  font-size: 1rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  margin: 5rem 0 3rem 0;
}

.services-box {
  padding: 2rem;
  border: 1px solid #9381eb;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transition: all .5s ease;
}

.services-box:hover {
  background-color: var(--light);
  color: var(--dark);
}

.services-box h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.services-box i {
  margin-right: 1rem;
}

.services-box p {
  opacity: .7;
  font-size: 1rem;
}

.l-blog {
  padding: 7rem 0;
}

.blog-text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.blog-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.blog-text p {
  opacity: .7;
  margin-bottom: 5rem;
  font-size: 1rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  transition: all .25s ease;
}

.blog-box {
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.blog-box:hover {
  -webkit-box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
  -moz-box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
  box-shadow: 0px 0px 13px -5px rgba(46,46,46,1);
}

.blog-box h4 {
  display: inline-block;
  background-color: var(--secondary);
  padding: .5rem 1rem;
  font-size: .9rem;
  border-radius: 5px;
  color: var(--light);
  margin-bottom: 2rem;
}

.blog-box h3 {
  margin-bottom: 2rem;
  transition: all .25s ease;
}

.blog-box h3:hover {
  color: var(--primary);
}

.blog-box p {
  font-size: 1rem;
  opacity: .7;
  margin-bottom: 2rem;
}

.blog-stats {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
}

.blog-stats i {
  margin-right: .5rem;
}

.l-licenses {
  background-color: #fafcff;
  padding: 7rem 0;
}

.licenses-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5rem;
  justify-items: center;
  align-items: center;
}

.l-licenses img {
  margin: 0 .5rem;
  opacity: .5;
  transition: opacity .25s ease;
}

.l-licenses img:hover {
  opacity: 1;
}

.l-footer {
  background-color: #04091e;
  padding: 7rem 0;
}

.footer-grid {
  display: grid;
  grid-template-areas: 'products newsletter instagram';
  color: var(--light);
  justify-items: center;
  margin-bottom: 2rem;
}

.footer-products {
  grid-area: products;
}

.footer-products h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer-products ul li a {
  margin: .5rem 0;
  color: var(--light);
}

.footer-newsletter {
  grid-area: newsletter;
  position: relative;
}

.footer-newsletter h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.footer-newsletter p {
  font-size: 1rem;
  opacity: .7;
  margin-bottom: 1.5rem;
}

.footer-newsletter input {
  width: 20em;
  padding: .7rem;
  outline: none;
  border-radius: 20px;
  border: none;
  font-size: .9rem;
  margin-right: 1rem;
}

.footer-newsletter a {
  display: inline-block;
  background-color: var(--primary);
  padding: .7em 2em;
  outline: none;
  border-radius: 20px;
  border: none;
  font-size: .9rem;
  color: var(--light);
  transition: background .25s ease;
}

.footer-newsletter a:hover {
  background-color: transparent;
  border: solid 1px var(--primary);
  margin: -1px;
  color: var(--primary);
}

.footer-instagram {
  grid-area: instagram;
}

.footer-instagram h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 1fr;
  grid-gap: .5rem;
  margin: 1rem 0;
  justify-items: center;
}

.footer-text {
  display: grid;
  grid-template-areas: 'copyright copyright media';
  justify-items: center;
}

.footer-text h3 {
  grid-area: copyright;
  color: var(--light);
  font-size: 1rem;
  opacity: .7;
  margin-top: 1rem;
  justify-self: start;
}

.footer-text ul {
  justify-self: end;
  margin-top: .5rem;
  grid-area: media;
}

.footer-text ul li {
  display: inline-block;
  color: var(--light);
  margin-right: .5rem;
}

.footer-text ul li:first-child i {
  padding: .5rem .7rem;
}

.footer-text ul li i {
  display: inline-block;
  padding: .5rem;
  background-color: #1e2235;
  font-size: .9rem;
  color: var(--light);
  transition: all .25s ease;
}

.footer-text ul li:hover i {
  background-color: var(--primary);
}
